<body>
  <div class="container">
  <h2 class="text-center">Bienvenue Chez Nous</h2>
  <form [formGroup]="seconnecterForm" class="bordure" (ngSubmit)="onSubmit()" noValidate >
    <label><h3>Nom utilisateur :</h3></label>
        <input type="text" class="form-control"formControlName="nom">
    <div *ngIf="nom && nom.invalid && nom.touched" class="alert alert-danger">
      Le nom est obligatoire.
    </div>
    <br>
    <br>
    <label><h3> Mot de Passe :</h3></label>
    <input type="password" class="form-control" formControlName="mdps">
    <div *ngIf=" mdps && mdps?.errors?.['required']&& mdps?.dirty && mdps && mdps.invalid && mdps.touched &&mdps?.errors?.['minLength']">
      <br>
      <button class="btn btn-default"><a [routerLink]="['/modifiermotpass']">Modifier</a></button>
    </div> 
    <br>
<strong> <h2>Toutes les informations valides : </h2></strong><button  [disabled]="seconnecterForm.invalid"  class="btn btn-dark" >Connecter</button><br><br>
<strong><h2>Je n'ai pas encore de compte ?</h2> </strong>
  <button (click)="Oninscrire()" class="btn btn-dark">Creer Un Compte</button>  
  </form>
  </div>
</body>