<div class="container mt-5 mb-5" style="font-size:20px">
    <h1 class="text-center" style="font-weight:bold;color:rgb(7, 112, 7);"><u>A propos</u></h1>
<br>

<br><br>
<br> 
<br>
<h2 style="background-color:rgb(182, 230, 182)">
    Bienvenue sur Notre Site <strong style="color:rgb(2, 15, 3)"> AZAOUZI SHOPPING : </strong>
    C'est un site 100% tunisien .<br>
    Son concept exclusif repose sur la Vente Directe /Vente des produits cosmétiques à domicile (par catalogue).<br> 
    Notre idée commence par une recherche sur les produits les plus utilisés dans le monde des cosmétiques aprés avoir vu que la plupart des gens consomment les produits naturels plus que les autres produits  pour ça on a décidé de développer cette idée dans ce site .

</h2>
</div> 