<div class="granddiv">
    <div class="row" style="margin-bottom:3px " style="margin-left:600px"  >
        <div class="card box image"style="width:20rem">
        <img [src]="detail.photo" class="card-img-top p-2" height="250px" width="1000px" />
    <h4 class="card-title v">{{detail.nom}}</h4>
    <h5 class="card-title v"><strong>Prix:</strong>{{detail.prix}}</h5>
    <h5 class="card-title v"><strong>Marque:</strong>{{detail.marque}}</h5>
    <h5 class="card-title v"><strong>Categorie:</strong>{{detail.categorie}}</h5>
    <h5 class="card-title v"><strong>Date de creation:</strong>{{detail.dateCreation}}</h5>
    <h5 class="card-title v"><strong>Type de Produit:</strong>{{detail.typeProduit}}</h5>
</div>
    </div>
    </div>