<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <img src="assets/prd.jpg.webp"/><h1><strong class="text-align:center" style="font-weight:bold;color:rgb(221, 157, 157);"> AZAOUZI SHOPPING</strong></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " routerLink="/acceuil"><strong>Acceuil</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/Seconnecter"><strong>Se connecter</strong></a>
        </li>
       <li class="nav-item">
          <a class="nav-link"routerLink="/sinscrire"><strong>S'inscrire</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/A propos"> <strong>A propos</strong></a>
        </li>
        
      </ul>
    </div>
  </nav>
  